<!DOCTYPE html>
<html class="mobile-notes-variant" lang="en"><!--full-srceen-->
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" user-scalable="no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>设置提现密码</title>
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-precomposed-144.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-precomposed-114.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/logo-72.png">
<link rel="stylesheet" type="text/css" media="all" href="css/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/base.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/fonts.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/widget.css" />
</head>
<body>
	<div class="container">
		<div class="screen-content">			
			<div class="content">
				<div class="info-box">
					<div class="info-text"><p>请再次填写以确认。</p></div>
					<form class="forms forms-password">
						<div class="forms-item">
							<div class="forms__group clearfix">
			                    <span class="input__box">
			                        <input type="password" class="forms_input" maxlength="1" tabindex="1">
		                        </span>
			                    <span class="input__box">
			                        <input type="password" class="forms_input" maxlength="1" tabindex="2">
			                    </span>
			                    <span class="input__box">
			                        <input type="password" class="forms_input" maxlength="1" tabindex="3">
			                    </span>
			                    <span class="input__box">
			                        <input type="password" class="forms_input" maxlength="1" tabindex="4">
			                    </span>
			                    <span class="input__box">
			                        <input type="password" class="forms_input" maxlength="1" tabindex="5">
			                    </span>
			                    <span class="input__box">
			                        <input type="password" class="forms_input" maxlength="1" tabindex="6">
			                    </span>
			                </div>
		                </div> 
		                <div class="forms__option">
		                	<button class="btn btn-primary btn-fullwidth">完成</button>
		                </div>                                              
		            </form>
				</div>
			</div>
		</div>		
	</div>	
</body>
</html>
