<!DOCTYPE html>
<html class="mobile-notes-variant" lang="en"><!--full-srceen-->
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" user-scalable="no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>填写银行信息</title>
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-precomposed-144.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-precomposed-114.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/logo-72.png">
<link rel="stylesheet" type="text/css" media="all" href="css/css_new/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/css_new/base.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/css_new/fonts.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/css_new/widget.css" />
</head>
<body>
	<div class="container" id="container">
		<div class="screen-content">			
			<div class="content">
				<div class="info-box">	
					<div class="info-text"><p>请正确填写银行卡信息，以能够及时打款。</p></div>		
					<form class="forms" id="form2" action="" onsubmit="return false;">				                                   
		            	<div class="forms-item">							
			                <div class="forms__group">
			                    <label class="forms__label">姓名</label>
			                    <span class="input__box">                                   
			                        <input type="text" class="forms_input" readonly="readonly" placeholder="" value="小红" id="name">
			                    </span>
			                </div>
			                <div class="forms__group">
			                    <label class="forms__label">卡号</label>
			                    <span class="input__box no-border">             
			                        <input type="tel" class="forms_input" placeholder="您本人的银行卡号" node-type="LoanCardInput" maxlength="23" id="bank_card" autocomplete="off" onpaste="return false;">
			                        <span class="icon-option" node-type="bank_card"><i class="icons icons-infoNew active" id="bRIcon"></i><i class="icons icons-cross" style="display:none;"></i></span>
			                    </span>
			                </div>			                
			            </div>
			            <div class="forms-item bank-match" style="display:none;" id="bank_name">
			            	<span class=""></span>
			            </div>
			            <div class="forms-item" style="display:none;" id="imbox">	
			                <div class="forms__group">
			                    <label class="forms__label">身份证</label>
			                    <span class="input__box">           
			                        <input type="text" class="forms_input" placeholder="身份证号" value="" maxlength="18" id="ID_card" node-type="LoanIdCardInput" autocomplete="off" onpaste="return false;">
			                        <span class="icon-option" node-type="ID_card"><i class="icons icons-cross" style="display:block;"></i></span>
			                    </span>
			                </div> 
			                <div class="forms__group">
			                    <label class="forms__label">手机号</label>
			                    <span class="input__box no-border">   
			                        <input type="tel" class="forms_input" placeholder="银行预留手机号码" id="mobile" maxlength="11" node-type="LoanMobileInput" autocomplete="off" onpaste="return false;">
			                        <span class="icon-option" node-type="mobile"><i class="icons icons-infoNew active" id="mRIcon"></i><i class="icons icons-cross" style="display:none;"></i></span>
			                    </span>
			                </div> 
			                <div class="forms-item agreement active" style="display:block;">
			            		<p class="text"><i class="icons icons-checkNew"></i>同意接受&nbsp;<a href="#">相关协议</a></p>      	
			            	</div>	
		                </div>
		                	                
		                <div class="forms__option">
		                	<button class="btn btn-primary btn-fullwidth" id="next2" disabled node-type="LoanSubmitBtn">下一步</button><!--disabled-->
		                </div>                                              
		            </form>
				</div>
			</div>
		</div>
		<div id="masker" class="masker" style="display:none;"></div>
		<div id="common_masker" class="popover popover-small" style="display:none;position: absolute; margin-left:-90px;"><!--提示消失opacity:0;显示位置margin:-20px 0 0 -90px;-->
			<div class="popover-inner">
				<div class="wrong-box">
					<p></p>				
				</div>
			</div>
		</div>
		<div id="message_masker" class="popover" style="display:none;position:absolute;top:20%;">
			<div class="popover-inner">
				<div class="message-box">
					<p></p>			
					<a href="javascript:;" id="confirmBtn" class="btn-option">确定</a> 		
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="./js/widgets/bankLists.js"></script>
	<script type="text/javascript" src="./js/widgets/constants.js"></script>
	<script type="text/javascript" src="./js/libs/zepto.js"></script>
	<script type="text/javascript" src="./js/widgets/pb.js"></script>
	<script type="text/javascript" src="./js/widgets/tools.js"></script>
	<script type="text/javascript" src="./js/widgets/MessageBox.js"></script>
	<script type="text/javascript">

		$("#container").PUB();
	
	</script>	
</body>
</html>
