#school-name, #major{cursor: pointer;}

.mask,.mask1, .mask2, .mask3, .mask4, .mask6, .mask7, .mask8, .mask9{width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);z-index: 10009;}
.popover{margin-top: 0px;}
.close{cursor:pointer;}
.range{width:100%; height: 6px;}
.agreement_alert{font-family: "Microsoft YaHei";display: none;}
.agreement_alert p{font-size: 1rem;line-height: 1.2;}
.ljjh{width: 100%!important;text-align: center;}
.ljjh a{float: none!important;}
#success_send{display: none;}
.agree_list{padding-left: 5px;}
.remark{
	font-size: 14px;
	color: #aaaaaa!important;
	margin-bottom: 5px;
}
/*.mask9 .agree{display:block;width: 50%;height: 30px;line-height: 30px;max-width: 200px;
	background:#333;margin:20px auto;text-decoration: none;color:#fff;
	text-align: center;border-radius: 10px;}*/
.success{text-align: center;}
.success img{width:50%;margin-top: 10%;}
.success h3{font-weight: normal;margin-top: 5%;}
.success p{width: 80%;margin: 0 auto;
	margin-top: 20%;font-size: 18px;}
.success p span{font-size: 22px;color: #f00;}